html
  body
    h1 Forgot Password

    p Dear #{user.name}, a request has been made to reset your password.

    p To proceed with this request, please click on the link below:
    a(href=request.resetUrl) Click Here
