<hr />
<form class="form" name="form" ng-submit="$changePassword.submit($event, form)" form-reset="$changePassword.reset($event, $form)">
  <div class="form-group has-feedback" form-input="form.oldPassword">
    <label class="control-label">Current Password</label>
    <input class="form-control" name="oldPassword" type="password" ng-model="$changePassword.model.oldPassword" ng-minlength="8" validation-input required>
    <validation-feedback></validation-feedback>
    <validation-error></validation-error>
  </div>
  <div class="form-group has-feedback" form-input="form.password">
    <label class="control-label">New Password</label>
    <input class="form-control" name="password" type="password" ng-model="$changePassword.model.password" ng-minlength="8" validation-input required>
    <span class="help-block" ng-show="form.password.$dirty && form.password.$error.minlength">Must be between 8 and 128 characters. At least one upper case and/or special character is required.</span>
    <validation-feedback></validation-feedback>
    <validation-error></validation-error>
  </div>
  <div class="form-group has-feedback" form-input="form.passwordConfirm">
    <label class="control-label">Confirm New Password</label>
    <input class="form-control" name="passwordConfirm" type="password" ng-model="$changePassword.model.passwordConfirm" validation-input input-match="$changePassword.model.password" required>
    <span class="help-block" ng-show="form.passwordConfirm.$dirty && form.passwordConfirm.$error.match">This does not match your password.</span>
    <validation-feedback></validation-feedback>
    <validation-error></validation-error>
  </div>

  <p><b>NOTE:</b><br />It is recommended to change your password frequently. <i>Performing this change will automatically log out all devices connected to your account.</i></p>

  <dl class="text-right">
    <div class="btn-group">
      <button type="submit" class="btn btn-lg btn-primary" ng-disabled="form.$invalid">Change password</button>
      <button type="reset" class="btn btn-lg btn-default" ng-disabled="!form.$dirty">Reset</button>
    </div>
  </dl>
</form>
