<form class="form" name="form" ng-submit="$forgot.submit($event, form)" form-reset="$forgot.reset($event, $form)">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group has-feedback" form-input="form.email">
        <label class="control-label">E-mail address</label>
        <input class="form-control" name="email" type="email" placeholder="joe@smith.com" ng-model="$forgot.model.email" validation-input required>
        <span class="help-block" ng-show="form.email.$dirty && form.email.$error.email">E-mail address is not valid.</span>
        <validation-feedback></validation-feedback>
        <validation-error></validation-error>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>If you have forgotten the e-mail address you used, or no longer have access to it, please <a ui-sref="app.guest.contact">contact our support</a> to assist you in recovering your account.</p>
    </div>
  </div>
  <div recaptcha-init ng-model="$forgot.model.recaptcha" ng-if="$forgot.model" required></div>
  <dl class="text-right">
    <div class="btn-group">
      <button type="button" class="btn btn-lg btn-default" ng-click="$forgot.quickFill(form)">Quick Fill</button>
      <button type="submit" class="btn btn-lg btn-primary" ng-disabled="form.$invalid">Recover</button>
      <button type="reset" class="btn btn-lg btn-default" ng-disabled="!form.$dirty">Reset</button>
    </div>
  </dl>
</form>

<ul class="nav nav-pills">
  <li ui-sref-active="active"><a ui-sref="app.guest.login">Login</a></li>
  <li ui-sref-active="active"><a ui-sref="app.guest.signup">Signup</a></li>
</ul>
