<div autobahn>
  <div>
    <label>Autobahn</label>
    <span class="text-success" ng-if="$autobahn.connected">Online</span>
    <span class="text-danger" ng-if="!$autobahn.connected">Offline</span>
  </div>

  <pre ng-if="$autobahn.connected" ng-bind="$autobahn.connectionInfo|json"></pre>

  <div class="btn-group">
    <button class="btn btn-default" ng-if="$autobahn.connected" ng-click="inputTest()">Input Test</button>

    <button class="btn btn-default" ng-if="$autobahn.connected" ng-click="$autobahn.wamp.close()">Close</button>
    <button class="btn btn-default" ng-if="!$autobahn.connected" ng-click="$autobahn.wamp.open()">Open</button>
  </div>

  <!-- <pre ng-bind="$autobahn.wamp|json"></pre> -->
  <ng-transclude></ng-transclude>
</div>
