<div autobahn>
  <div>
    <label>Autobahn</label>
    <span class="text-success" ng-if="$autobahn.connected">Online</span>
    <span class="text-danger" ng-if="!$autobahn.connected">Offline</span>
  </div>
<pre>
last push: <i ng-if="!$autobahn.lastPushDate">waiting..</i><b ng-if="$autobahn.lastPushDate">{{$autobahn.lastPushDate | date:'longDate'}} {{$autobahn.lastPushDate | date:'mediumTime'}}</b>
starting: {{$autobahn.starting|json}}
stopping: {{$autobahn.stopping|json}}
connected: {{$autobahn.connected|json}}
<span ng-if="$autobahn.connected">Connection info: {{$autobahn.connectionInfo|json}}</span>
</pre>

  <div class="btn-group">
    <button class="btn btn-default" ng-if="$autobahn.connected" ng-click="notificationTest()">Notification Test</button>
    <button class="btn btn-default" ng-if="$autobahn.connected" ng-click="$autobahn.realTime.stop()">Close</button>
    <button class="btn btn-default" ng-if="!$autobahn.connected" ng-click="$autobahn.realTime.start()">Open</button>
  </div>

  <table class="table table-condensed small">
    <thead>
      <tr>
        <th>Message</th>
        <th class="text-right">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entry in $autobahn.log" ng-class="entry.cls">
        <td ng-bind="entry.message"></td>
        <td class="text-right" ng-bind="entry.date|date:'shortTime'"></td>
      </tr>
    </tbody>
  </table>

  <!-- <pre ng-bind="$autobahn.wamp|json"></pre> -->
  <ng-transclude></ng-transclude>
</div>
