<div heart-beat>
  <label>Heart-beat</label> <span class="text-muted" ng-if="$heartBeat.isIdle">Idle</span> <span class="text-danger" ng-if="$heartBeat.isWarning">Warning</span> <span class="text-success" ng-if="$heartBeat.service.checking">Updating</span>
<pre>
lastCheck: {{$heartBeat.service.lastCheck | date:'short'}} (next check in {{$heartBeat.service.nextCheckInSec|duration:durationOpts}})
ttl:       {{$heartBeat.service.expireAt  | date:'short'}} (expires in {{$heartBeat.service.ttlSec | duration:durationOpts}})
idle:      {{$heartBeat.service.lastTouch | date:'short'}} (last touched {{$heartBeat.service.idleSec | duration:durationOpts}} ago)
</pre>
  <div class="btn-group">
    <button class="btn btn-default" ng-click="$heartBeat.extend()">Update</button>
    <button class="btn btn-default" ng-click="$heartBeat.service.refresh()" ng-disabled="$heartBeat.service.checking">Refresh</button>
    <button class="btn btn-default" ng-click="$heartBeat.service.touch()">Touch</button>
  </div>
  &nbsp;
  <label><input type="checkbox" ng-model="$heartBeat.service.longTerm" /> Long-term session</label>
</div>
