<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" autobahn>
      <a class="navbar-brand" ui-sref="app.guest.index" ng-class="$autobahn.stateClasses">
        <span ng-class="$autobahn.stateClasses" class="glyphicon glyphicon-home"></span>
        <span ng-class="$autobahn.stateClasses">Brand</span>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li ui-sref-active="active"><a ui-sref="app.guest.contact">Contact</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" heart-beat>
      <li class="navbar-text navbar-text-dbl" ng-if="$heartBeat.isWarning">
        <div class="small text-right">
          <div class="text-danger"><b>Your session will expire in <code>{{$heartBeat.service.ttlSec|duration:durationOpts}}</code>.</b></div>
          <div><a href="" ng-click="$heartBeat.extend()">Click here</a> <span>to extend it.</span></div>
        </div>
      </li>

      <li ui-sref-active="active" ng-if="$app.authenticated">
        <a href="" ui-sref="app.user.settings">
          <small>{{$app.profile.name}}</small>
          <!-- <div>{{$app.profile.email}}</div> -->
        </a>
      </li>
      <li ng-if="$app.authenticated" user-notifications></li>
      <li ng-if="$app.authenticated" uib-dropdown>

        <a href="" uib-dropdown-toggle>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>

        <ul uib-dropdown-menu>
          <li ui-sref-active="active"><a ui-sref="app.user.dashboard">Dashboard</a></li>
          <li ui-sref-active="active"><a ui-sref="app.user.messages">Messages</a></li>
          <li ui-sref-active="active"><a ui-sref="app.user.settings">Settings</a></li>
          <li role="separator" class="divider"></li>
          <li ui-sref-active="active"><a href="" ng-click="$navigation.logout($event)">Logout</a></li>
        </ul>
      </li>
      <li ui-sref-active="active" ng-if="!$app.authenticated"><a ui-sref="app.guest.login">Login</a></li>
      <li ui-sref-active="active" ng-if="!$app.authenticated"><a ui-sref="app.guest.signup">Signup</a></li>
    </ul>

    <ng-transclude></ng-transclude>
  </div>
</div>
