@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Roboto';

.wrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.inline-separator {
  color: #ddd;
  margin: 0 5px;
}

// injector
@import './directive/user-notifications.scss';
@import './directive/notification/message.scss';
@import './state/user/messages/conversations.scss';
// endinjector
